<nav class='navigation-page'>
  {{{PageTitle}}}
  <ul class='list'>
    {{{LoginLink}}}
    {{{SigninLink}}}
    {{{ChatLink}}}
    {{{ProfileLink}}}
    {{{EditProfileLink}}}
    {{{ChangePasswordLink}}}
    {{{NotFoundLink}}}
    {{{ServerErrorLink}}}
  </ul>
</nav>