<nav class='navigation-page'>
  {{{PageTitle}}}
  <ul class='list'>
   <li>{{{LoginLink}}}</li>
   <li> {{{SigninLink}}}</li>
   <li> {{{ChatLink}}}</li>
    <li>{{{ProfileLink}}}</li>
    <li>{{{EditProfileLink}}}</li>
    <li>{{{ChangePasswordLink}}}</li>
    <li>{{{NotFoundLink}}}</li>
   <li> {{{ServerErrorLink}}}</li>
  </ul>
</nav>