<section class="content">
  <form class="avatar">
    {{{ProfileAvatar}}}
  </form>
  {{{UserTitle}}}
  <ul class="list">
    {{{InputEmailField}}}
    {{{InputLoginField}}}
    {{{ProfileFirstNameInput}}}
    {{{ProfileSecondNameInput}}}
    {{{ProfileDisplayNameInput}}}
    {{{ProfilePhoneInput}}}
  </ul>
  <div class="buttons__links">
    {{{EditProfileLink}}}
    {{{EditPasswordLink}}}
    {{{ExitLink}}}
  </div>
</section>

{{{Modal}}}
