<section class="content">
  <div class="avatar">
    {{{ProfileAvatar}}}
    <button class="avatar__overlay">Поменять
      аватар</button>
  </div>
  {{{UserTitle}}}
  <ul class="list">
    {{{InputEmailField}}}
    {{{InputLoginField}}}
    {{{ProfileFirstNameInput}}}
    {{{ProfileSecondNameInput}}}
    {{{ProfileDisplayNameInput}}}
    {{{ProfilePhoneInput}}}
  </ul>
  <div class="buttons">
    {{{EditProfileLink}}}
    {{{EditPasswordLink}}}
    {{{ExitLink}}}
  </div> 
  
</section> 