<div class='dialog-wrapper'>
  <form class='login-page'>
    <div class='login-page__content'>
      {{{PageTitle}}}
      {{{MailInputField}}}
      {{{LoginInputField}}}
      {{{FirstNameInputField}}}
      {{{SecondNameInputField}}}
      {{{PhoneInputField}}}
      {{{PasswordInputField}}}
      {{{PasswordRepeatInputField}}}
    </div>
    <div class='login-page__footer'>
      {{{SigninButton}}}
      {{{AuthLink}}}
    </div>
  </form>
</div>