<div class='dialog-wrapper'>
  <form class='login-page'>
    <div class='login-page__content'>
      {{{PageTitle}}}
      {{{InputLoginField}}}
      {{{InputPassportField}}}
    </div>
    <div class='login-page__footer'>
           {{{ AuthButton }}}
     {{{SinginLink}}} 
    </div>
  </form>
</div>