
  <div class="input-field__title {{className}}">{{ title }}</div>
  <div class="input">
    <input class="input__element{{#if align-right}} input__element--align-right{{/if}}" type="{{ type }}"
      title="{{ title }}" name="{{ name }}" value="{{value}}">
  </div>
