<div class="input-field__title">{{ title }}</div>

<input class="input__element" type="{{ type }}"
  title="{{ title }}" name="{{ name }}"  placeholder="{{placeholder}}" value="{{value}}"> </input>
<span class="input-error" name="{{name}}">{{errorMessage}}</span>