<div class="input-field__title">{{ title }}</div>

<input class="input__element{{#if align-right}} input__element--align-right{{/if}}" type="{{ type }}"
  title="{{ title }}" name="{{ name }}" value="{{value}}" placeholder="{{placeholder}}">
<span class="input-error" name="{{name}}">{{errorMessage}}</span>