<li class="input__wrapper {{className}}">

<p class="input__title">{{inputName}}</p>

<input type="{{type}}" class="input" value="{{value}}" name="{{name}}" {{#if disabled}}disabled{{/if}} autocomplete="off">


</li>
