<p class="input__title">{{inputName}}</p>

<input type="{{type}}" class="input" value="{{value}}" name="{{name}}" placeholder="{{placeholder}}" {{#if disabled}}disabled{{/if}} autocomplete="off">

<span class="profile__input-error" name="{{name}}">{{errorMessage}}</span>