<section class="content">
  <div class="avatar">
    {{{ProfileAvatar}}}
  </div>
  {{{UserTitle}}}
  <ul class="list">
    {{{InputEmailField}}}
    {{{InputLoginField}}}
    {{{ProfileFirstNameInput}}}
    {{{ProfileSecondNameInput}}}
    {{{ProfileDisplayNameInput}}}
    {{{ProfilePhoneInput}}}
  </ul>
  <div class="buttons">
    {{{SubmitButton}}}
  </div>

</section>
