<section class='content'>
  <div class='avatar'>
    {{{ProfileAvatar}}}
  </div>
  {{{UserTitle}}}
  <form class='profile-form'>
    <ul class='list'>
      {{{InputEmailField}}}
      {{{InputLoginField}}}
      {{{ProfileFirstNameInput}}}
      {{{ProfileSecondNameInput}}}
      {{{ProfileDisplayNameInput}}}
      {{{ProfilePhoneInput}}}
    </ul>
    <div class='buttons'>
      {{{SubmitButton}}}
    </div>
  </form>
</section>
