<section class="content">
  {{{ProfileAvatar}}}
  <ul class="list">
    {{{OldPassword}}}
    {{{NewPassword}}}
    {{{NewPasswordRepeat}}}
  </ul>
  {{!-- {{ Button text="Сохранить" page="profile" className="button_primary button_primary_size_small "}} --}}
</section>
