<section class='content'>
  {{{ProfileAvatar}}}
  <form class='profile-form'>
    <ul class='profile-list'>
      {{{OldPassword}}}
      {{{NewPassword}}}
      {{{NewPasswordRepeat}}}
    </ul>
    {{{SubmitButton}}}
  </form>
</section>
