  {{#if chats}}
    {{#each chats}}
       <div class="chat-item__line"></div>
  <div class="chat-item__block{{#if current}} chat-item__block--current{{/if}}">
    {{#if avatar}}
    <div>
      <img class="chat-item__avatar" src={{ avatar }} alt={{ name }}><img>
    </div>
    {{else }}
    <div class="chat-item__avatar"></div>
    {{/if}}
    <div class="chat-item__message"><span class="chat-item__message-text">{{ message }}</span></div>

     {{#if unread}} <div class="chat-item__unread">
    <span class="chat-item__unread-text">{{unread}}</span>
    </div>{{/if}}
      <div class="chat-item__date">
    {{#if date}}<span class="chat-item__date-text">{{date}}</span>{{/if}}
  </div>
  </div>


    {{/each}}
  {{else}}
    <p style="text-align: center;">No chats available</p>
  {{/if}}